.items{
    height: 50vh;
    width: 50%;
    background-color: bisque;
    font-size: 20px;
    color:red;
    border: 2px solid blueviolet;
   

}
.item{
    border: 2px solid green;
    margin:30px;
    padding:20px 40px;
    
}
.btn{
    margin:35%;
    border-radius: 5px;
    padding: 5px 25px;
  background-color: dodgerblue;
  color:white;
  border: none;
}