.main{
    height: 50vh;
    width: 50%;
    border: 5px dashed peru;
    margin: 10% 25%;
    
}

h1{
    text-align: center;
    color: #00EE00;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-style: solid;
    text-shadow: 2px 2px 5px red;

}
p{
    float: right;
    padding: 10px;
    text-align: justify;
    line-height: 3;
}